<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/layout.css">
<link rel="stylesheet" href="../css/common.css">
</head>
<body>

    <section id="mainColum">

        <header>
            <nav>
                <ul>
                    <li>TOP</li>
                    <li>会社案内</li>
                    <li>工事実績</li>
                    <li>取引先企業</li>
                    <li>お問い合わせ</li>
                </ul>
            </nav>
        </header>

        <section id="mainVisualContainer" class="mgB10p">

            <section id="sliderBox">
                <ul>
                    <li><img src="../img/slider01.jpg" alt="日本の未来を創造する|株式会社若林工業"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </section>

        </section>
        
        <section id="mainInner">
            <h2>
                <span class="titleEnglish"><span class="titleBig">W</span>HAT'S <span class="titleBig">N</span>EW</span></span><br>お知らせ
            </h2>
        </section>

        <footer class="mgB30">
            <section id="copyRight">
                <span>abc.inc</span>
            </section>
        </footer>

    </section>
    <!-- //#mainColum -->

</body>

</html>