<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/layout.css">
<link rel="stylesheet" href="../css/common.css">
</head>
<body>

    <section id="mainColum">

        <section id="mainVisualContainer">

            <section id="sliderBox">
                <ul>
                    <li><img src="../img/slider01.jpg" alt="日本の未来を創造する|株式会社若林工業"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </section>

        </section>
        
        <footer class="mgB30">
            <section id="copyRight">
                <span>abc.inc</span>
            </section>
        </footer>

    </section>
    <!-- //#mainColum -->

</body>

</html>