@charset "UTF-8";
/* common.css */
a {
  color: #ffffff;
}

html {
  font-size: 62.5%;
  height: auto;
  background-color: #ffffff;
}

body {
  position: relative;
  margin: 0 auto;
  width: auto;
  height: 100%;
  line-height: 140%;
  color: #333333;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "ヒラギノ明朝 ProN W3","Hiragino Mincho ProN",Verdana,Roboto,"Droid Sans",YuGothic,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}

h2 {
  font-weight: 400;
  text-align: center;
  color: #585858;
  font-size: 2.4rem;
}

h2 .titleEnglish {
  font-size: 1.4rem;
}

h2 .titleBig {
  font-size: 1.8rem;
}

#mainVisualContainer {
  text-align: center;
}

#mainVisualContainer #sliderBox li {
  margin: 0;
  /*position: absolute;*/
}

#mainInner {
  margin: 0 auto;
  width: 980px;
}
